

.App-header {
 background-color: bisque;
 width: 100%;
 height: 65px;
 padding: 0px;
 margin: 0px;
 position: relative;
 font-size: xx-large;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 text-align: center;
 
}
.App-header:hover{
  background-color: rgb(251, 152, 169);
}

.exhibit-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.exhibit-heading {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.exhibit-content {
  /* Additional styling for content if needed */
}
